@page
@model IdentityProvider.Duende.Pages.Account.ResetPassword.ResetPasswordConfirmationModel
@{
}

<h1>Reset Password Confirmation</h1>

<p>
    Your password has been reset.
    <a asp-page="/Account/Login/Index" asp-route-returnUrl="@Model.ReturnUrl">click here to login</a>
</p>